<h1 class="title">Добро пожаловать</h1>

<p class="home__text">С распространением цифровых фотоаппаратов и благодаря появлению телефонов с качественной камерой люди стали реже распечатывать фотографии и чаще хранят свои воспоминания в цифровом виде. Множество изображений на компьютерах и съёмных дисках хранятся без какой-либо структуры или классификации.</p>
<p class="home__text">Данный сервис позволяет автоматически с помощью алгоритмов машинного обучения сортировать добавленные фотографии по различной тематике, а также позволяет помещать их в цифровые альбомы.</p>